//
// Variables
// --------------------------------------------------

$color-theme = #0bb908
$color-border = #d9d9d9
$color-bg = #FBF9FE

$white = #fff


$font-size-normal = 16px
$font-size-small = 14px
$font-size-small-s = 12px
$font-size-large = 18px
$font-size-large-x = 20px
